# 虚拟环境
.venv/
venv/
ENV/
env/
pyvenv.cfg

# dotenv / 环境配置文件（包括 .env、.env.local、.env.* 等）
.env.*
*.env
.env.local
.env.*.local
**/.env*
.envrc
!.env.example
.vscode/

# Python 缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json